[core]
	editor = vim
	pager = diff-so-fancy | less -FXRi
	autocrlf = input

[push]
	default = current

[pull]
	default = current

[user]
	name = Sergio Kopplin
	email = sergiokopplin@gmail.com
	
[credential]
	helper = "!f() { /var/www/.vscode-server/bin/e2816fe719a4026ffa1ee0189dc89bdfdbafb164/node /tmp/vscode-remote-containers-dccb29dddd7fe93e7f0639f7582a882182971fc1.js git-credential-helper $*; }; f"
